{% extends 'core/base.html' %}
{% load static %}
{% block title %}Welcome | {% endblock %}

{% block content %}
    <div class="mt-4 text-center bodybg">
        <h1 class="text-white">SysChat</h1>
        <div class="row">
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body text-center">
                        {% comment %} <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo"> {% endcomment %}
                        <h5 class="card-title">{{context.weather_data1.city }}</h5>
                        <p class="card-text">{{context.weather_data1.temperature }}°C</p>
                        <p class="card-text">{{context.weather_data1.description }}</p>
                        
                        <a href="#" class="btn" ><img src="http://openweathermap.org/img/w/{{ context.weather_data1.icon }}.png" alt="{{context.weather_data1.description }}"></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-body text-center">
                        {% comment %} <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo"> {% endcomment %}
                        <h5 class="card-title">{{ context.weather_data2.city }}</h5>
                        <p class="card-text">{{  context.weather_data2.temperature }}°C</p>
                        <p class="card-text">{{ context.weather_data2.description }}</p>
                        
                        <a href="#" class="btn" ><img src="http://openweathermap.org/img/w/{{ context.weather_data2.icon }}.png" alt="{{context.weather_data2.description }}"></a>
                    </div>
                </div>
            </div>
        </div>


        {% if context.daily_forecasts1 %}
            <h2>Extendido</h2>  
            <div class="forecast-container">
                {% for forecast in  context.daily_forecasts1 %}
                    <div class="forecast">
                        <h3>{{ forecast.day }}</h3>
                        <p>{{ forecast.min_temp }}°C - {{ forecast.max_temp }}°C</p>
                        <p>{{ forecast.description }}</p>
                        <img src="http://openweathermap.org/img/w/{{ forecast.icon }}.png" alt="{{ forecast.description }}">
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
    
{% endblock %}
