{% extends 'core/base.html' %}
{% load static %}
{% block title %}Welcome | {% endblock %}

{% block content %}
<div class="mt-4 text-center bodybg">
    <h1 class="text-white">SysChat</h1>
        <div class="container row align-content-between ">
            <div class="card ml-2" style="width: 12rem;">
                <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card ml-2" style="width: 12rem;">
                <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card ml-2" style="width: 12rem;">
                <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card ml-2" style="width: 12rem;">
                <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card ml-2" style="width: 12rem;">
                <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>

            <div class="card ml-2" style="width: 12rem;">
                <img src="{% static 'images/forma-abstracta.png' %}" class="img-card" alt="logo">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>



</div>
{% endblock %}