{% extends 'core/base.html' %}

{% block content %}
    <div class="mt-4 text-center bodybg">
        {% if object_list %}
            <h1 class="text-white">My Task:</h1>
        {% endif %}
        
        <ul>
            {% for todolist in object_list %}
                {% if request.user.profile.job == todolist.title  %}
                    <li>
                        <div role="button" class="btn btn-danger mb-2" onclick="location.href='{% url "list" todolist.id %}'">
                            {{ todolist.title }}
                        </div>
                    </li>
                {% endif %}
            {% empty %}
                <h1 class="mt-4 text-white">My Task</h1>
            
            {% endfor %}
        </ul>
        <p>
            <input value="Add a new list" class="btn btn-primary" onclick="location.href='{% url "list-add" %}'"/>
        </p>
    </div>
{% endblock %}
