{% extends 'core/base.html' %}

{% block title %}{{request.user.profile.job}} | {% endblock %}
{% block content %}
    <div class="mt-5 mb-5 text-center bodybg">
        {% if object_list %}
            <h1 class="text-white">My Task:</h1>
        {% endif %}
        
        <ul>
        <div class="row">
            {%if conte%}
                <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-orange text-center"  role="button" onclick="location.href='{% url "list" todolist.id %}'">
                                <a href='{% url "list" todolist.id %}'>
                                    <h1 class="font-light text-white"><i class="mdi mdi-chemical-weapon"></i></h1>
                                    <h6 class="font-light text-white"> {{ todolist.title }}</i></h6> 
                                </a>
                            </div>
                        </div>
                </div>
            {%endif%}
            {%if contexts%}
                {% for todolist in contexts %}
                    <div class="col-md-6 col-lg-2 col-xlg-3">
                        <div class="card card-hover">
                            <div class="box bg-orange text-center"  role="button" onclick="location.href='{% url "list" todolist.id %}'">
                                <a href='{% url "list" todolist.id %}'>
                                    <h1 class="font-light text-white"><i class="mdi mdi-chemical-weapon"></i></h1>
                                    <h6 class="font-light text-white"> {{ todolist.title }}</i></h6> 
                                </a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%else%}
                {% for todolist in object_list %}
                    {% if request.user.is_superuser or request.user.profile.job == "2K" or request.user.profile.job == "COMANDANTE"%}
                        <div class="col-md-6 col-lg-2 col-xlg-3">
                            <div class="card card-hover">
                                <div class="box bg-orange text-center"  role="button" onclick="location.href='{% url "list" todolist.id %}'">
                                    <a href='{% url "list" todolist.id %}'>
                                        <h1 class="font-light text-white"><i class="mdi mdi-chemical-weapon"></i></h1>
                                        <h6 class="font-light text-white"> {{ todolist.title }}</i></h6> 
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        {% if request.user.profile.job == todolist.title  %}
                            <div class="col-md-6 col-lg-2 col-xlg-3">
                                <div class="card card-hover">
                                    <div class="box bg-orange text-center"  role="button" onclick="location.href='{% url "list" todolist.id %}'">
                                        <a href='{% url "list" todolist.id %}'>
                                            <h1 class="font-light text-white"><i class="mdi mdi-chemical-weapon"></i></h1>
                                            <h6 class="font-light text-white"> {{ todolist.title }}</i></h6> 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                {% empty %}
                    <h1 class="mt-4 text-white">My Task</h1>
                {% endfor %}
            {%endif%}
        </div>
        </ul>
        <p>
            <input value="Add a new list" class="btn btn-primary" onclick="location.href='{% url "list-add" %}'"/>
        </p>
    </div>
{% endblock %}
