{% extends 'core/base.html' %}
{% load static %}
{% block title %}Crear solicitud | {% endblock %}
{% block content %}
<div class="mt-5 mb-5 content"></div>
    <div id="page-title">
        <h1 class="page-header text-overflow"><span class="fa fa-bookmark-o"></span>&nbsp;SA-Q20-O-None</h1>
    </div>

    {{error}}
    <div class="row">  
    <div class="col-md-4 offset-md-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="fecha_sol" class="control-label">Fecha Requerida<span class="text-danger">*</span></label> 
                <input type="date" name="fecha_sol" class="form-control" autofocus placeholder="Fecha Sol" required />
            </div>

            <div class="form-group">
                <label for="fecha_sol" class="control-label">Unidad<span class="text-danger">*</span></label> 
                <select name="unidad" class="select form-control" required id="unidad"> 
                    <option name="unidad" value=""selected>UNIDADES</option> 
                    <option name="unidad" value="UNHIDO">UNIHDO</option>
                    <option name="unidad" value="APBH">APBH</option>
                    <option name="unidad" value="BHPD" >BHPD</option> 
                    <option name="unidad" value="BHAU">BHAU</option> 
                </select> 
            </div>
        
            <div class="form-group">
                <label for="fecha_sol" class="control-label">Departamento<span class="text-danger">*</span></label>
                    <select name="depto" class="select form-control" id="depto"> 
                        <option value="" selected>Todos los Departamentos</option> 
                        <option value="K">Comandante</option> 
                        <option value="2K">Segundo Comandante</option>
                        <option value="JEMAQ">Máquinas</option> 
                        <option value="JEOP">Operaciones</option> 
                        <option value="JECUB">Cubierta</option> 
                        <option value="JEAB">Abastecimiento</option> 
                    </select> 
            </div>
            
            <div class="form-group">
                <label for="fecha_sol" class="control-label">Rubro<span class="text-danger">*</span></label>
                <select name="rubro" class="select form-control" id="rubro"> 
                    <option name="rubro" value="Bs.Consumo" selected>Bs.Consumo</option> 
                    <option name="rubro" value="Equipamiento">Equipamiento</option> 
                    <option name="rubro" value="Gs.Bancarios">Gs.Bancarios</option> 
                    <option name="rubro" value="Gs.Institucionales">Gs.Institucionales</option> 
                    <option name="rubro" value="Gs.Mant.Ed.">Gs.Mant.Ed.</option> 
                    <option name="rubro" value="Gs.Mant.Eq">Gs.Mant.Eq.</option> 
                    <option name="rubro" value="Otros Gastos">Otros Gastos</option> 
                    <option name="rubro" value="Pasajes y Viáticos">Pasajes y Viáticos</option> 
                    <option name="rubro" value="Seguros">Seguros</option> 
                    <option name="rubro" value="Serv.Basicos">Serv.Básicos</option> 
                    <option name="rubro" value="Serv.3 No Pe">Serv.3 No Pe.</option>
                </select> 
            </div>

            <div class="form-group">
                <label for="fecha_sol" class="control-label">Objeto de Contratación<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="objeto" placeholder="objeto" required />
            </div>

            <div class="form-group">
                <label for="fecha_sol" class="control-label">Prioridad<span class="text-danger">*</span></label>
                <select name="prioridad" class="select form-control" id="prioridad"> 
                    <option name="prioridad" value="Normal" selected>Normal</option> 
                    <option name="prioridad" value="Alta">Alta</option>
                </select>
            </div>
            
            <div class="form-group">
                <label for="fecha_sol" class="control-label">Especificaciones Técnicas<span class="text-danger">*</span></label>
                <input type="file" name="esp_tec" class="text-white text-center mt-2 px-4 py-2" id="id_avatar">
                <br />
            </div>

            <div class="form-group">
                <label for="fecha_sol" class="control-label">Justificación<span class="text-danger">*</span></label>
                <input type="text" class="form-control" name="justifica" placeholder="Justificacion" required />
            </div>
            <div class="form-group">
                {% comment %} <label class="text-white" for="exampleInputPassword1">Valido</label> {% endcomment %}
                <input type="hidden" class="form-control hidden" name="valida" value="1" placeholder="1" required />
            </div>


            <div  class="form-group form-action" class="form-group"> 
                <div class="aab controls col-sm-4"></div> 
                    <input type="submit" name="save_changes" value="Guardar" class="btn btn-primary"/>
                    <a class='btn btn-danger' href="{% url 'general' %}">Cancelar</a> 
            </div> 

        </form>
    </div>
    </div>
</div>
{% endblock %}

